body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #917b7b;
  padding: 10px;
  text-align: center;
}

main {
  display: flex; /* Create a flex container */
}

article, aside {
  flex: 1; /* Equal width for article and aside */
  padding: 20px;
}

footer {
  background-color: #574b4b;
  padding: 10px;
  text-align: center;
}